- flash.each do |name, msg|
  .row(class="alert alert-#{name} alert-dismissible")
    = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
    %button.me-3.btn-close(type="button" data-bs-dismiss="alert")
