%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  %a.navbar-brand(href="#") InfoCompass
  %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarContent
    %ul.navbar-nav
      %li.nav-item
        = link_to "Research Articles", research_articles_path, class: "nav-link"
      %li.nav-item
        = link_to "News", "#", class: "nav-link"
      %li.nav-item
        = link_to "Books", "#", class: "nav-link"
      %li.nav-item
        = link_to "Music", "#", class: "nav-link"
