---
http_interactions:
- request:
    method: get
    uri: http://export.arxiv.org/api/query?search_query=ti:%22qwefqweqefqwfwew%22%20OR%20abs:%22qwefqweqefqwfwew%22&sortBy=submittedDate&sortOrder=descending&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom">
          <link href="http://arxiv.org/api/query?search_query%3Dti%3A%22qwefqweqefqwfwew%22%20OR%20abs%3A%22qwefqweqefqwfwew%22%26id_list%3D%26start%3D0%26max_results%3D10" rel="self" type="application/atom+xml"/>
          <title type="html">ArXiv Query: search_query=ti:"qwefqweqefqwfwew" OR abs:"qwefqweqefqwfwew"&amp;id_list=&amp;start=0&amp;max_results=10</title>
          <id>http://arxiv.org/api/90YjMITHX9/CElJnVa9Y1IyGS2U</id>
          <updated>2021-07-29T00:00:00-04:00</updated>
          <opensearch:totalResults xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">0</opensearch:totalResults>
          <opensearch:startIndex xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">0</opensearch:startIndex>
          <opensearch:itemsPerPage xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">10</opensearch:itemsPerPage>
        </feed>
  recorded_at: Thu, 29 Jul 2021 18:19:49 GMT
recorded_with: VCR 6.0.0
