%h1.text-center.my-4= "500 Internal Server Error"
%h3.text-center.mb-4= "An unknown error has occured, the site administator has been alerted and is working to fix it."
.row.justify-content-center.mx-md-0.mx-3.mb-3
  .col-md-5
    = image_tag 'compass.png', class: "img-fluid"
= render 'shared/info_modal_main'
