$dark: #022B3A;
$primary: #1F7A8C;
$info: #BFDBF7;
$secondary: #E1E5F2;
$light: #FFFFFF;
$danger: #C22525;
$success: #06692A;
$warning: #B4BD17;
$accordion-button-active-color: #000000;
$accordion-button-active-bg: #FFFFFF;
$accordion-button-focus-box-shadow: #FFFFFF;
$accordion-bg: #F7FAFA;
i {
  -webkit-appearance: none !important;
}
@import "../../../node_modules/bootstrap/scss/bootstrap";
