$dark: #022B3A;
$primary: #1F7A8C;
$info: #BFDBF7;
$secondary: #E1E5F2;
$light: #FFFFFF;
$success: #D9AA29;
$accordion-button-active-color: #000000;
$accordion-button-active-bg: #FFFFFF;
$accordion-button-focus-box-shadow: #FFFFFF;
$accordion-bg: #F7FAFA;
@import "../../../node_modules/bootstrap/scss/bootstrap";
